body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    background-color: red;
}

header h1 {
    margin: 0;
    background-color: red;
}

main {
    padding: 20px;
    background-color: white
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left; 
    width: 70%; 
    padding: 20px;
    box-sizing: border-box;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
}

#carrito {
    float: left; 
    width: 30%; 
    padding: 20px;
    box-sizing: border-box; 
    background-color: red; 
    color: white;
    border-radius: 10px;
    width: 300px;
}


#total {
    clear: both; 
    padding: 10px;
    box-sizing: border-box;
    text-align: right; 
    font-weight: bold;
    font-size: 40px;
    background-color: red;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

footer p {
    margin: 0;
}
